/*HEADER*/

.star-header {
  position: fixed;
  top: 0;
  background-color: yellow;
  display: flex;
  width: 100%;
  border:2px solid;
  justify-content: space-around;
  flex-flow: row wrap;
}

.starbux-navigation {
  background-color: pink;
  order: 1;
 width: 100%;
  
}
.starbux-list{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding-right: 100px;

}

.starbux-list li {
  display: flex;
  flex-flow: column nowrap;
  text-align: right;
  border: 2px solid;
}

.starbux-list a {
  display: block;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 20px 20px 30px 20px;
}



.submenu-nev {
  display: none;
}