@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

@font-face {
  font-family: 'Noto Sans KR', 'Jeju Gothic',sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
}
html {
  font-size: 10px;
}
body {
  font-family: 'Noto Sans KR', 'Jeju Gothic',sans-serif;
  font-weight: 300;
  color: #181818;
  background-color: #fff;
  width: 100%;
  min-width: 1000px;
  max-width: 1800px;
}

a {
  color: inherit;
  text-decoration: none;
}

.a11yHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

.container {
  /* width: 100%;
  min-width: 1000px;
  max-width: 1800px; */


}

/*HEADER*/

.star-header {
  position: fixed;
  top: 0;
  background-color: yellow;
  display: flex;
  width: 100%;
  border:2px solid;
  justify-content: space-around;
  flex-flow: row wrap;
}

.starbux-navigation {
  background-color: pink;
  order: 1;
 width: 100%;

}
.starbux-list{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding-right: 100px;

}

.starbux-list li {
  display: flex;
  flex-flow: column nowrap;
  text-align: right;
  border: 2px solid;
}

.starbux-list a {
  display: block;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 20px 20px 30px 20px;
}



.submenu-nev {
  display: none;
} 